data/pages/KNMP/KNMP-VIII_F_69______2C2O_0006.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0024.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0026.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0028.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0030.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0032.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0034.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0036.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0132.ppm
data/pages/KNMP/KNMP-VIII_F_69______2C2O_0134.ppm
toolbox/_cocoslib.so
toolbox/_croplib.so
toolbox/_pamImage.so
toolbox/cocoslib.py
toolbox/cocoslib.pyc
toolbox/croplib.py
toolbox/croplib.pyc
toolbox/outfile.ppm
toolbox/pamImage.py
toolbox/pamImage.pyc
toolbox/word.pyc
toolbox/wordio.pyc
.idea
*.pyc
data/allpages
